<div class="row">
    <div class="col-3   mt-3">{{fechai }} </div>
    <div class="col-2  mt-3"> {{fechaf}}</div>
    <div class="col-2  mt-3"> {{usuario.correo }}</div>
    <div class="col-1"></div>

    <div class="col-2">
      <button  type="button" name="editar"  class="btn" [routerLink]="['/consultas/editar', reserva.id]"
      routerLinkActive="router-link-active" >
    Modificar</button></div>

    <div class="col-2">
      <button  type="button" name="editar"  class="btn" (click)="borrar()" >
    Eliminar</button></div>
   
    
   
  </div>

