<div class="container-fluid">
  <div class="row align-items-start" >
    <div class="btn-group">
      <div class="col-2"><img src="./assets/gc1.png" alt="Logo Gobierno"width="45" height="45"></div>
      <div class="col-3 d-flex justify-content-center"><h1 class="text-center">RESERVATIC</h1>.</div>
      <div class="col-3" routerLinkActive="router-link-active" >
       <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Reservar
        </button>
          <div class="dropdown-menu" >
          <a class="dropdown-item" routerLink="reservas/aulas">Aulas</a>
          <a class="dropdown-item" routerLink="reservas/coches">Coches</a>
        
          </div>
     </div>
     <div class="col-3">
      <button type="button" class="btn btn-success">
        <a  routerLink="consultas">Consultas</a></button>
     </div>
     <div class="col-3">
      <button type="button" class="btn btn-success">
        <a  routerLink="administracion">Administracion</a></button>
     </div>
    </div>
  </div>
</div>

